.hero {
  max-width: 1670px;
  height: 600px;
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  background-image: url(../images/slide4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes opacityTransition {
  0% {
    filter: brightness(0);
  }

  100% {
    filter: brightness(0.522);
  }
}

.hero-content {
  padding-top: 213px;
  animation-name: slideInLeft;
  animation-duration: 1500ms;
  animation-timing-function: $time-function;
  animation-fill-mode: backwards;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translate(-100%);
  }

  100% {
    opacity: 1;
    transform: translate(0%);
  }
}

.hero-content__title {
  margin: 0;
  font-family: $title-text-font;
  font-weight: 300;
  line-height: 1.2;
  font-size: 48px;
  color: $info-menu-text-color;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.hero-content__button {
  display: block;
  font-family: $title-text-font;
  color: $info-menu-text-color;
  text-transform: uppercase;
  background-color: $active-color;
  border: none;
  font-size: 14px;
  line-height: 1.2;
  width: 120px;
  height: 42px;
  margin-right: auto;
  margin-left: auto;

  &:hover,
  &:focus {
    filter: brightness(0.9);
    background-color: rgb(26, 188, 156);
    cursor: pointer;
  }
}

.hero-content__title--second-part {
  font-family: $menu-text-font;
  font-weight: 400;
}

.hero-content__decoration {
  color: $active-color;
}
