.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visual-hidden {
  display: none;
}

.container {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.section-title {
  margin: 0;
  font-family: $title-text-font;
  color: $text-color;
  font-weight: 900;
  font-size: 48px;
  line-height: 0.7;
  text-transform: uppercase;
  margin-bottom: 123px;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.section-title--newsletter {
  margin-bottom: 28px;
}

.section-title::after {
  display: block;
  content: '';
  background-image: url(../images/title-boreder.png);
  width: 164px;
  height: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.section-title--newsletter::after {
  display: block;
  content: '';
  background-image: url(../images/title-boreder__footer.png);
  width: 164px;
  height: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.common-section {
  padding-top: 90px;
}
