.new-collection {
  height: 676px;
  background-color: $background-section-color;
}

.new-collection__list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.new-collection__img {
  display: block;
  width: auto;
  height: auto;
}

.new-collection__title {
  font-family: $title-text-font;
  font-weight: 900;
  color: $card-text-color;
  width: 201px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 32px;
  padding-left: 14px;
  text-decoration: none;
}

.new-collection__link {
  text-decoration: none;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $discription-card-color;

  position: relative;
}

.new-collection__price {
  align-items: center;
  height: 40px;
  font-family: $title-text-font;
  background-color: $discription-card-color-opacity;
  color: $card-text-color;
  font-weight: 900;
  display: flex;
  justify-content: center;
  width: 54px;
  text-transform: uppercase;
}

.new-collection__item {
  width: 255px;
  height: 322px;
  position: relative;
  overflow: hidden;
  margin-right: 30px;

  &:hover .overlay,
  &:focus .overlay {
    opacity: 1;
    transform: translateY(0%);
  }

  &:hover .new-collection__link,
  &:focus .new-collection__link {
    background-color: $active-color;
  }

  &:hover .overlay__item,
  &:focus .overlay__item {
    opacity: 1;
    transition: opacity 350ms $time-function 350ms;
  }
}

.new-collection__item:last-of-type {
  margin-right: 0;
}

.new-collection__img {
  height: 282px;
  width: 255px;
  object-fit: scale-down;
  background-color: #fff;
}
