$header-background: rgb(26, 188, 156);
$info-menu-text: rgb(254, 254, 254);
$text-menu-color: rgb(14, 1, 1);
$text-color: rgb(85, 82, 82);
$active-color: rgb(78, 198, 171);
$card-text-color: rgb(255, 255, 255);
$background-card-color: rgb(232, 239, 253);
$discription-card-color: rgb(50, 50, 50);
$discription-card-color-opacity: rgba(255, 255, 255, 0.44);
$menu-text-font: 'Open Sans', sans-serif;
$title-text-font: 'Roboto', sans-serif;
$info-menu-text-color: rgb(254, 254, 254);
$background-section-color: rgb(233, 240, 253);
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
